[workspace]
members = ["columnq", "columnq-cli", "roapi"]
resolver = "2"

[profile.dev]
split-debuginfo = "unpacked"

[profile.test]
split-debuginfo = "unpacked"

[profile.release]
lto = true
codegen-units = 1

#[patch."https://github.com/sfu-db/connector-x.git"]
#connectorx = { path = "/home/houqp/Documents/code/roapi/connector-x/connectorx" }

[patch.crates-io]
datafusion = { git = "https://github.com/roapi/arrow-datafusion.git", rev = "4c4a77fb604bd1d74093da41b8b40f49549e8f84" }
datafusion-common = { git = "https://github.com/roapi/arrow-datafusion.git", rev = "4c4a77fb604bd1d74093da41b8b40f49549e8f84" }
datafusion-proto = { git = "https://github.com/roapi/arrow-datafusion.git", rev = "4c4a77fb604bd1d74093da41b8b40f49549e8f84" }
datafusion-expr = { git = "https://github.com/roapi/arrow-datafusion.git", rev = "4c4a77fb604bd1d74093da41b8b40f49549e8f84" }
datafusion-physical-expr = { git = "https://github.com/roapi/arrow-datafusion.git", rev = "4c4a77fb604bd1d74093da41b8b40f49549e8f84" }
datafusion-physical-plan = { git = "https://github.com/roapi/arrow-datafusion.git", rev = "4c4a77fb604bd1d74093da41b8b40f49549e8f84" }
datafusion-sql = { git = "https://github.com/roapi/arrow-datafusion.git", rev = "4c4a77fb604bd1d74093da41b8b40f49549e8f84" }
# object_store = { path = "/home/houqp/Documents/code/delta/arrow-rs/object_store" }
