[workspace]

members = [
    "columnq",
    "columnq-cli",
    "roapi-http",
]

[patch.crates-io]
arrow = { git = "https://github.com/houqp/arrow-rs.git", rev = "eb0aaf164ba44590b30bac38b92094308acd7733" }
parquet = { git = "https://github.com/houqp/arrow-rs.git", rev = "eb0aaf164ba44590b30bac38b92094308acd7733" }
# datafusion = { git = "https://github.com/houqp/arrow-datafusion.git", rev = "e97b86a8bc410983a73b5802ae44eb7a55faecd3" }

actix-cors = { git = "https://github.com/houqp/actix-extras.git", rev = "ab3bdb6a5924b6d881d204856199e7539e273d2f" }

deltalake = { git = "https://github.com/delta-io/delta-rs.git", rev = "61e2941cc5787ac2028efea271a54926f9c45cec" }


[profile.dev]
split-debuginfo = "unpacked"

[profile.release]
lto = true
