[package]
name = "columnq"
version = "0.3.2"
authors = ["Qingping Hou <dave2008713@gmail.com>"]
edition = "2018"

[lib]
name = "columnq"
path = "src/lib.rs"

[dependencies]
arrow  = "4"
parquet  = "4"
datafusion = { git = "https://github.com/houqp/arrow-datafusion.git", rev = "d5427d8dd1fd8bd6fb2541c1c9386802da7783de" }

log = "0"
regex = "1"
lexical-core = "0.7"
lazy_static = "1"
graphql-parser = "0"
sqlparser = "0.7"
yup-oauth2 = "5"
thiserror = "1"
serde_json = "1"
serde_derive = "1"
serde = "1"
uriparse = "0"
bytes = { version = "1" }
reqwest = { version = "0.11", features = ["blocking", "json"] }

tokio = "1"
futures = "0.3"

# S3
rusoto_core = { version = "0.46" }
rusoto_s3 = { version = "0.46" }
rusoto_credential = { version = "0.46" }
rusoto_sts = { version = "0.46" }

deltalake = { version = "0", features = ["s3"] }

[dev-dependencies]
anyhow = "1"
serde_yaml = "0.8"
tempdir = "0"
pretty_assertions = "*"

[features]
simd = ["arrow/simd", "datafusion/simd"]
