[package]
name = "columnq"
version = "0.6.0"
homepage = "https://github.com/roapi/roapi"
license = "MIT"
authors = ["QP Hou <dave2008713@gmail.com>"]
edition = "2018"

[lib]
name = "columnq"
path = "src/lib.rs"

[dependencies]
# pulling arrow-schema manually to enable the serde feature.
# TODO: add serde feature in datafusion to avoid this workaround
# https://github.com/apache/arrow-datafusion/pull/5729
arrow-schema = { version ="33", features = ["serde"] }

datafusion = "19"
object_store = { version = "0.5.4", features = ["aws_profile", "gcp", "azure"] }
percent-encoding = "2.2.0"
url = "2.2"

log = "0"
regex = "1"
lazy_static = "1"
graphql-parser = "0"
sqlparser = "0.31"  # version need to be in sync with convergence
yup-oauth2 = { version = "6.2", default-features = false, features = [
    "service_account",
] }
thiserror = "1"
serde_json = { version = "1", features = ["arbitrary_precision"] }
serde_derive = "1"
serde = "1"
uriparse = "0"
bytes = { version = "1" }
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "json",
] }
calamine = "0.19.1"

tokio = { version = "1", features = ["rt-multi-thread"] }
futures = "0.3"
hyper-tls = { version = "0.5.0", default-features = false, optional = true }
hyper-rustls = { version = "0.23.0", default-features = false, optional = true }

[dependencies.deltalake]
git = "https://github.com/delta-io/delta-rs.git"
tag = "rust-v0.8.0"
default-features = false
features = ["datafusion"]

[dependencies.connectorx]
git = "https://github.com/roapi/connector-x.git"
rev = "66942bb65a7671cccb228ffe08fd99495430c103"
version = "0.3.2-alpha.1"
features = ["default", "dst_arrow"]
optional = true

[dev-dependencies]
anyhow = "1"
serde_yaml = "0.8"
tempfile = "3.3.0"
pretty_assertions = "*"
dotenvy = "*"
rusqlite = "0"

[features]
default = ["rustls"]
rustls = [
    "hyper-rustls",
    "reqwest/rustls-tls",
    "deltalake/s3",
    "yup-oauth2/hyper-rustls",
]
native-tls-vendored = [
    "reqwest/native-tls-vendored",
    "hyper-tls/vendored",
    "deltalake/s3-native-tls",
    "yup-oauth2/hyper-tls",
]
native-tls = [
    "reqwest/native-tls",
    "hyper-tls",
    "deltalake/s3-native-tls",
    "yup-oauth2/hyper-tls",
]
simd = ["datafusion/simd"]
database-sqlite = ["connectorx/src_sqlite"]
database-mysql = ["connectorx/src_mysql"]
database = [
    "database-sqlite",
    "database-mysql",
]
